<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-XXXXXXXXX-X', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

<style>
  {{{contentData.[css/main.css]}}}
</style>

{{#each settings.seo_meta_tags }}
   {{{ tag-generator this }}}
{{/each}}
<meta name="twitter:card" content="summary_large_image">
{{#each settings.favicon_meta_tags }}
   {{{ tag-generator this }}}
{{/each}}

<!--[if lt IE 9]><script src="/js/html5shiv.min.js"></script><![endif]-->
