/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


@import 'normalize';
@import 'selectric';

$yellow: #f1ee4f;
$main-blue: #005ed8;
$light-blue: #3454D1;
$pale: #AAB1CE;
$white: #EFEFEF;
$black: #040e30;
$neon: #46D5C4;



/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  min-height: 420px;
  background: $main-blue url('/images/graduation.jpg') no-repeat top center fixed;
  background-size: 180% auto;
  color: $pale;
}
.configure {
    .cuny-logo {
        position: fixed;
        bottom: 33px;
        left: 33px;
        width: 33px;
        height: 33px;
    }

    #intro,
    #sliders,
    #status,
    #plan {
        display: none;
    }

    #setup {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 25px 0;
        box-sizing: border-box;
        overflow: hidden;
    }

    .setup__questions {
        width: 100%;
        padding: 0;
        height: 170px;
        position: relative;
    }

    .setup__question {
        transition: left 0.5s;
        position: absolute;
        width: 100%;
        top: 0;

        p {
            font-size: 2.2em;
            font-size: 8vw;
            line-height: 1.23em;
            font-weight: 700;
            padding: 25px 0;
            margin: 0 auto;
            text-align: center;
            font-weight: bold;
        }

        select {
            background: transparent;
            color: $main-blue;
            border: none;
            font-weight: bold;
            font-size: 0.5em;
        }
    }

    .setup__question--active {
        left: 0;
    }

    .setup__question--inactive {
        position: absolute;
        transition: left 0.5s;
        left: 105%;
    }
    .setup__question--answered {
        position: absolute;
        transition: left 0.5s;
        left: -105%;
    }
    .setup__controls {
        text-align: center;
    }
    .question__period {
        display: none;
    }
}

.selectric-items li {
    font-size: 16px;

    .extended-value {
        font-weight: 400;
    }
}

#input--curent-credits {
    width: 1.5em;
    background: transparent;
    border: none;
    border-bottom: .1em solid $white;
    color: $white;
    text-align: center;
    padding: 0;
    margin: 0 0 -10px;
    line-height: 0;
    font: inherit;

    &:active, &:focus {
        outline: none;
    }
}

.rendered {
    #setup {
        text-align: center;
        width: 250px;
        margin: 0 auto;
        padding: 33px 0;

        .setup__question {
            display: inline;

            p {
                display: inline;

                br {
                    display: none;
                }
            }
        }

        .setup__progress,
        .setup__controls {
            display: none;
        }
    }
    .cuny-logo {
        width: 50px;
        height: 50px;
        margin: 0 auto 25px;
        position: relative;
        display: block;
    }
}

#intro {
    width: 100%;
    flex: 1 0 100%;
    margin: 0 auto;

    h3 {
        margin: 0;
        padding: 10px 10px 0;
        color: $white;
        font-weight: 600;
        line-height: 1.23em;
    }
    ul {
        font-size: 16px;
        padding: 5px 0 15px 30px;
        font-size: 0.9em;
    }

    .note span {
        background: linear-gradient(to right, transparent 50%, transparent 50%);
        background-size: 205% 100%;
        background-position: right bottom;
        padding: 2px;
        margin: -2px;
    }
    .note.alerted span {
        background: linear-gradient(to right, #f1ee4f 50%, transparent 50%);
        background-size: 205% 100%;
        color: #222;
        background-position: left bottom;
        transition: background-position 2s, color 1.5s;
    }
}

#sliders {
    border: 1px solid rgba($white,0.33);
    border-width: 1px 0;
    background: rgba($black,0.2);
    padding: 15px 15px 25px;
    justify-content: center;
    max-width: 550px;
    margin: 0 auto;

    .sliders__wrapper {
        display: flex;
    }

    .sliders__slider {
        box-sizing: border-box;
        padding: 0 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 0 1 33%;
        opacity: 0.33;

        &.slider--primary {
            flex: 1 1 33%;
            opacity: 1;
        }
    }

    &.summer-winter-classes .sliders__slider {
        opacity: 1;
    }

    .slider__box {
        margin-bottom: 1px;
        font-size: 10px;
        padding: 0 3px;
        color: transparent;
        transition: color 0.2s;
        background: rgba($black,0.2);
        border: 1px solid rgba($black,0.25);

        &.slider__box--filled {
            background: linear-gradient(to bottom, #46D5C4 33%, #5ff0dd 100%);
            box-shadow: 0 0 15px rgba(110,254,234,0.33), 0 0 4px rgba(137,255,255,0.66);
            border: 1px solid #76fff1;
        }
        &:hover {
            color: #199484;
            transition: none;
            background: linear-gradient(to bottom, #46D5C4 33%, #5ff0dd 100%);
            box-shadow: 0 0 15px rgba(110,254,234,0.33), 0 0 4px rgba(137,255,255,0.66);
            border: 1px solid #76fff1;
        }
    }
    .slider__box--20 {
        border-radius: 3px 3px 0 0;
    }
    .slider__box--0 {
        border-radius: 0 0 3px 3px;
    }

    &.use-existing-credits {

        &.hide-winter-slider #slider__boxes--Winter {
            display: none;
        }

        &.hide-winter-slider #slider__boxes--Fall h4::after {
            content: " & Winter"
        }

        .sliders__slider:first-child .slider__box {

            &.slider__box--filled {
                background: linear-gradient(to bottom, #844ed4 33%, #9d65ee 100%);
                box-shadow: 0 0 15px rgba(199,138,255,0.2);
                border: 1px solid #b47cff;

                &:hover {
                    color: transparent; 
                    background: linear-gradient(to bottom, #844ed4 33%, #9d65ee 100%);
                    box-shadow: 0 0 15px rgba(199,138,255,0.2);
                    border: 1px solid #b47cff;
                }
            }

            &:hover {
                color: transparent; 
                transition: none;
                background: rgba($black,0.2);
                border: 1px solid rgba($black,0.25);
                box-shadow: none;
            }
        }
    }

    .button--slider-controls {
        background: transparent;
        color: $yellow;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
        font-weight: bold;
        box-sizing: border-box;
        width: 50%;

        &:hover {
            color: $white;
        }

        &:active, &:focus {
            outline: none;
        }

        &.disabled {
            opacity: 0.15;
            cursor: default;
            color: $pale;
        }
    }

    .button--slider-controls--add {
        text-align: right;
        padding: 0 10px 0 0;
    }
    .button--slider-controls--remove {
        text-align: left;
        padding: 0 0 0 10px;
    }

    input {
        background: transparent;
    }

    h4 {
        font-size: 0.9em;
        margin: 0 0 0.5em;
        text-align: left;
        font-weight: 400;
        color: $white;
    }

    .split_semesters {
        padding-top: 15px;
    }

    .slider__value {
        color: $pale;
        font-weight: bold;
        font-size: 1em;
        padding-bottom: 5px;
        text-align: center;

        input {
            font-family: inherit;
            width: 100%;
            text-align: center;
            line-height: 1.4;
            font-size: 1.4em;
            padding-bottom: 0;
            color: $white;
            box-sizing: border-box;
            font-weight: bold;
            border: none;
            background: transparent;

            &:focus, &:active {
                outline: none;
            }
        }
    }
}

#status {
    max-width: 550px;
    width: 100%;
    min-height: 230px;
    margin: 0 auto;
    padding: 0 25px 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.4em;
    color: $white;

    .button--save-plan {
        margin: 15px 0 0 15px;
    }

    .status__offtrack {
        display: none;
    }

    .small {
        font-size: 14px;
        display: block;
        padding-top: 15px;
        color: $pale;
    }
}

#plan {
    background: rgba($white,0.8);
    color: $black;
    max-width: 600px;
    padding: 40px;
    box-sizing: border-box;
    margin: 0 auto 100px;

    .plan__year {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        padding-bottom: 1em;
        padding-top: 2em;
        border-top: 1px solid rgba(44,113,216,0.2);

        &:first-child {
            border-top: none;
            padding-top: 0;
        }

    }

    .plan__semester--Summer, .plan__semester--Winter {
        opacity: 0.3;
    }

    &.summer-winter-classes .plan__semester--Summer, 
    &.summer-winter-classes .plan__semester--Winter {
        opacity: 1;
    }

    .plan__semester {
        flex: 1 1 18%;
        font-size: .75em;
        padding: 0 0.5em 1em 0;
    }

    h4 {
        flex: 1 0 100%;
        margin: 0;
    }
    h5 {
        font-weight: 400;
        font-size: 1.3em;
        margin: 1em 0 0;
    }
    .plan__total-credits {
        text-align: center;
        font-size: 1.5em;
    }
    .plan__planned-graduation {
        display: none;
    }

    .graduation_year .plan__planned-graduation {
        display: block;
        font-weight: bold;
        flex: 1 1 33%;
        background: $white url('/images/cap-black.svg') no-repeat;
        background-position: 90% 48%;
        max-width: 220px;
        background-size: auto 40%;
        border-radius: 2px;
        text-align: left;
        padding: 15px 50px 15px 16px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 1em;
        position: relative;
        font-size: 0.8em;

        &:after {
            background: url('/images/rays.svg') no-repeat center center;
            position: absolute;
            content: " ";
            top: -125%;
            z-index: -1;
            opacity: 0.25;
            left: 13%;
            width: 250px;
            height: 250px;
            background-size: contain;
            animation: rotation 30s infinite linear;
        }

        &.under-credit:after {
            content: "\00d7";
            position: absolute;
            color: #FF5A5F;
            font-weight: 400;
            left: 48%;
            top: -105%;
            line-height: 1;
            width: auto;
            height: auto;
            animation: none;
            opacity: 1;
            background: none;
            z-index: 1;
            font-size: 12em;
        }
    }
    .plan__non-credit-classes {
        text-align: center;
        font-size: 0.8em;
        padding: 0.5em 0;
        line-height: 1.2em;
        color: darken($pale,20);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.big-button {
    font-size: 24px;
    background: $yellow;
    color: $light-blue;
    font-weight: 600;
    padding: 15px 50px;
    border: none;
    border-radius: 4px;
    margin-bottom: 32px;
    transition: box-shadow .33s, color .33s;

    &:active, &:focus {
        background: $yellow;
        color: $main-blue;
        outline: none;
    }
    &:hover {
        color: #070707;
        box-shadow: 0 3px 10px rgba(0,0,155,.3);
        transition: box-shadow .1s, color .15s;
        cursor: pointer;
    }
}

.wide-bp {
    display: none;
}

.index {
    .cuny-logo {
        position: fixed;
        bottom: 33px;
        left: 33px;
        width: 33px;
        height: 33px;
    }

    p {
        margin: 150px auto 50px;
        text-align: center;
        font-size: 2em;
        color: $white;
        font-weight: bold;
        width: 90%;
        max-width: 600px;
    }

    br {
        padding: 15px;
        line-height: 2.5em;
        display: block;

    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    #sliders {
        padding: 20px 25px 25px;
    }
}

@media only screen and (min-width: 40em) {

    html {
        background-size: 100% auto;
    }
    .configure .cuny-logo, .index .cuny-logo {
        width: 50px;
        height: 50px;
    }
    .configure .setup__questions {
        height: 330px;
    }
    .selectric {
        top: .25em;
    }
    .wide-bp {
        display: block;
    }
    .rendered #setup {
        font-size: 1.5em;
        width: 500px;
    }
    #plan {
        border-radius: 5px;
    }
    #sliders { 
        border-width: 1px;
        border-radius: 5px;
        padding: 30px 35px 35px;
    }

    #plan .graduation_year .plan__planned-graduation {
        background-position: 84% 48%;
        max-width: 220px;
        background-size: auto 60%;
        border-radius: 2px;
        text-align: left;
        padding: 15px 100px 15px 16px;
    }
}

@media only screen and (min-width: 55em) {
    .configure .setup__question {
        padding: 0;

        p {
            font-size: 4.2em;
        }
    }

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        text-align: left;
        color: #000 !important;
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }


    
    #sliders {
        display: none;
    }
    #intro {
        display: none;
        max-width: 570px;
        margin: 0 auto;
    }

    .rendered #setup {
        width: auto;
        max-width: 520px;
    }
    .rendered #setup .setup__question {
        display: block;
    }
    .button--save-plan {
        display: none;
    }
    #status {
        min-height: auto;
        height: auto;
        max-width: 570px;
    }
    #status .small {
        display: none;
    }
    .rendered .cuny-logo {
        display: none;
    }
    .selectric {
        top: 4px;
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
